/** @format */

.DesktopNavbar {
  /* border: 1px solid black; */
  ul {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap: 5vw;
    a {
      text-decoration: none;
      color: #000;
      li {
        list-style-type: none;
        font-size: 1.8vw;
        cursor: pointer;
        color: #666;
        font-weight: 600;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
