.Hero {
  /* border: 1px solid black; */
  /* height: 75vh; */
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7vw;

  .titleWrapper {
    display: none;
    background-image: url("./../../../assets/home/hero/bg-image.svg");
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
  }
  .titleContainer {
    /* border: 1px solid black; */
    margin-top: 5vw;

    h1 {
      span {
        color: #aeaeae;
      }
    }
  }

  .videoContainer {
    /* border: 1px solid black; */
    width: 100%;
    border-radius: 3vw;
    source {
      width: 100%;
      height: 100%;
    }
  }

  .manualLogo {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    h2 {
      margin: 0 auto;
    }
    .swiperContainer {
      /* border: 1px solid black; */
      display: flex;
      justify-content: center;
      align-items: center;
      .navigationButton {
        border: 2px solid #eee;
        font-size: 3vw;
        padding: 0.8vw 0.1vw;
        border-radius: 2rem;
        cursor: pointer;

        &:hover {
          border-color: #7b01f7;
        }
      }
      .swiper {
        /* border: 1px solid black; */
        width: 90%;
        .swiperSlide {
          /* border: 1px solid black; */
          .logoContainer {
            /* border: 1px solid black; */
            width: 18vw;
            /* height: 6vw; */
            padding: 0.5vw 1vw;
            cursor: pointer;
            transition: background ease 0.3s;
            &:hover {
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}
