.Hero {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;

  .titleContainer {
    width: 100%;
    background-image: url("./../../../assets/home/hero/bg-image.svg");
    background-position: center;
    background-size: cover;
    margin-top: 1vw;
    padding: 2vw;
    h1 {
      line-height: 6vw;
      span {
        color: #aeaeae;
      }
    }
  }

  .videoContainer {
    /* border: 1px solid black; */
    width: 90%;
    border-radius: 3vw;
    source {
      width: 100%;
      height: 100%;
    }
  }
}

/* tablet responsiveness */
@media screen and (max-width: 991px) {
  .Hero {
    padding: 0 3vw;
    gap: 8vw;

    .titleContainer {
      margin-top: 1.5vw;
      padding: 3vw;
      padding-left: 1vw;
      h1 {
        line-height: 10vw;
      }
    }

    .videoContainer {
      border-radius: 5vw;
    }
  }
}

/* mobile responsiveness */
@media screen and (max-width: 480px) {
  .Hero {
    padding: 0 4vw;
    gap: 10vw;

    .titleContainer {
      margin-top: 2vw;
      padding: 4vw;
      padding-left: 1vw;
      h1 {
        line-height: 12vw;
      }
    }

    .videoContainer {
      border-radius: 6vw;
    }
  }
}
