/**
 * Pagination styles
 *
 * @format
 */

.swiper-pagination {
  position: absolute;
  left: 6%;
  bottom: 20%;
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #ffffff;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1.5px solid black;
}

.swiper-pagination-bullet-active {
  background-color: #0e77ee;
  border: 1.5px solid black;
  width: 0.8rem;
  height: 0.8rem;
}
