/**
 * portfolio.module.css
 *
 * @format
 */

.Portfolio {
  padding: 20px;
  width: 100vw;

  h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
  }
  h1 span {
    color: #007bff;
    margin-left: 2rem;
  }
}

.eventContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

.parentEvent {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.top,
.bottom {
  height: 100vh;
  width: 100%;
  border-radius: 8px;
  padding: 7%;
  overflow: hidden;
  display: flex;
}

.top {
  flex-direction: row;
  background: url("./../../../assets/home/portfolio/BG-04.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom {
  flex-direction: row-reverse;
  background: url("./../../../assets/home/portfolio/BG-04.png");
  background-position: center;
  background-size: contain;
  background-size: 100%;
  background-repeat: no-repeat;
}

.imgContainer {
  overflow: hidden;
  border-radius: 8px;
  border-radius: 28px;
  width: 60%;
  height: 500px;
  background: transparent;
  box-shadow: 1px 1px 21px #8484846f, -25px -95px 21px #ffffff;
  position: relative;
}

.navigationButton {
  background-color: black;
  position: absolute;
  z-index: 10;
  top: 50%;
  display: none;
}
.navigationButton:nth-child(1) {
  right: 0;
}

.swiperSlide {
  height: 500px;
  .swipeImgContainer {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2rem;
  h2 {
    margin-bottom: 10px;
    font-size: 3em;
    line-height: 4rem;
  }
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
