.Portfolio {
  /* border: 1px solid black; */
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  h1 {
    /* border: 1px solid black; */
    font-size: 4vw;
    margin: 0 auto;
    span {
      color: #aaa;
    }
  }
  .eventContainer {
    display: flex;
    flex-direction: column;
    gap: 24vw;
    .parentEvent {
      /* border: 2px solid red; */
      position: relative;

      .top {
        display: flex;
        gap: 2vw;
        margin-left: 10vw;
        transition: all ease 0.2s;
        &:hover {
          transform: scale(1.1);
        }
        .content {
          /* border: 1px solid black; */
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          h2 {
            font-size: 3vw;
          }
          p {
            font-size: 1.5vw;
          }
        }
      }
      .bottom {
        display: flex;
        gap: 2vw;
        flex-direction: row-reverse;
        position: absolute;
        bottom: -19vw;
        right: 10vw;
        transition: all ease 0.2s;
        &:hover {
          transform: scale(1.1);
        }
        .content {
          /* border: 1px solid black; */
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          margin-bottom: 3vw;
          h2 {
            font-size: 3vw;
          }
          p {
            font-size: 1.5vw;
          }
        }
      }
      .imgContainer {
        width: 40vw;
        /* height: 20vw; */
        border: 0.3vw solid #fff;
        border-radius: 1vw;
        cursor: pointer;
        img {
          border-radius: 1vw;
        }
      }
    }
  }

  button {
    border: 0.2vw solid #212121;
    margin-top: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw 4vw;
    font-size: 1.7vw;
    font-weight: bold;
    border-radius: 0.5vw;
    background-color: #212121;
    transition: all ease 0.2s;
    color: #fff;
    &:hover {
      background-color: #eee;
      color: #212121;
    }
  }
}
