:root {
  --mainColor: black;
  --bgColor: #feffff;
}

.AboutPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bgColor);
  .heroImage {
    background: url("./../../../src/assets/about/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: #fff;
    }
  }
  .aboutMainContent {
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: url("./../../assets/about/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* .imageDiv {
      width: ;
      display: flex;
      gap: 1rem;
      .imageOne {
      width: 430px;
      height: 400px;
      border-radius: 10px;
    }
    } */
    .meetupInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      .paragraph {
        font-size: 1.5vw;
      }
    }
  }
  .peopleLove {
    margin-top: 3vw;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3vw;
    .peopleLoveHeading {
      /* border: 1px solid red; */
      color: var(--mainColor);
      font-size: 2.5vw;
      font-weight: 700;
      text-transform: capitalize;
      width: 28vw;
      height: 15vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .impactSecondRow {
        text-transform: capitalize;
        font-weight: 700;
        background: linear-gradient(45deg, #e31c42, #fca53a);
        -webkit-background-clip: text;
        color: transparent;
      }
      .impactThirdRow {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        .about {
          width: 50%;
          /* border: 1px solid black; */
        }
        .horRow {
          width: 30%;
          height: 5px;
          content: "";
          background: linear-gradient(to right, #e31c42, #fca53a);
        }
      }
    }
    .peopleLoveItem {
      display: flex;
      gap: 2vw;
      width: 28vw;
      height: 15vw;
      padding: 1.8vw;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      border: 0.01px solid rgba(128, 128, 128, 0.472);
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.189);
      transition: all ease 0.5s;
      .peopleLoveSectionIcon {
        /* border: 1px solid black; */
        width: 5vw;
        height: 4.5vw;
        opacity: 1;
      }
      .heading {
        font-size: 1.8vw;
        font-weight: 700;
      }
      &:hover {
        box-shadow: none;
      }
      &:hover .peopleLoveSectionIcon {
        animation: rotateAndVanish 0.8s both;
      }
    }
  }
}

/* .aboutMainContent .iconContainer {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.aboutMainContent .iconContainer .iconItem {
  border-radius: 8px;
} */

.peopleLove .peopleLoveItem .imageMainContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  flex-wrap: wrap;
}

.imageMainContainer .spanContainer {
  width: 20vw;
  position: relative;
  cursor: pointer;
  min-width: 270px;
  max-width: 400px;
}

.imageMainContainer .spanContainer .heading {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: center center;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imageMainContainer .spanContainer .heading h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #feffff;
  min-width: 100px;
  line-height: 1rem;
  text-align: center;
  transition: opacity 0.5s;
}

.imageMainContainer .spanContainer:hover .heading {
  opacity: 1;
  /* transform: scale(1); */
  animation: borderRadius 0.5s forwards;
  background-color: rgba(0, 0, 0, 0.712);
}

@keyframes rotateAndVanish {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  50% {
    opacity: 0;
    transform: rotate(180deg) scale(0);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes borderRadius {
  from {
    border-radius: 50%;
    transform: scale(0.2);
  }
  50% {
    border-radius: 50%;
  }
  to {
    border-radius: 0%;
    transform: scale(1);
  }
}

@media screen and (max-width: 1050px) {
  .imageMainContainer .spanContainer {
    width: 45%;
  }
}

@media screen and (max-width: 630px) {
  .imageMainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageMainContainer .spanContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .aboutMainContent {
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    padding-top: 3rem;
    background: none;
    gap: 2rem;
  }

  .aboutMainContent .meetupInfo {
    width: 90%;
  }

  .aboutMainContent .imageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aboutMainContent .imageDiv .imageOne {
    height: 350px;
  }

  .peopleLove {
    margin-top: 5rem;
    justify-content: center;
  }

  .peopleLove .peopleLoveItem,
  .peopleLove .peopleLoveHeading {
    width: 45%;
  }

  .peopleLove .peopleLoveHeading p {
    width: 100%;
  }

  .peopleLove .peopleLoveHeading .impactSecondRow {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .aboutHero {
    width: 100% !important;
    height: 150px;
  }
  .aboutMainContent {
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    padding-top: 3rem;
    background: none;
    gap: 2rem;
    .meetupInfo {
      width: 100%;
      padding: 1rem;
      background-color: #feffffd1;
      .mainHeading {
        font-size: 2rem;
      }
      p {
        background-color: #feffffd1;
      }
    }
    .imageDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      .imageOne {
        height: 300px;
      }
    }
  }
  .peopleLove {
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    .peopleLoveHeading {
      width: 100vw;
      max-width: 400px;

      p {
        width: 90vw;
      }
      .impactSecondRow {
        width: 100%;
      }
    }
    .peopleLoveItem {
      width: 100%;
      margin-bottom: 20px;
      .peopleLoveSectionIcon {
        padding: 0 10px;
        width: 100px;
      }
    }
  }
}
