/** @format */

:root {
  --mainColor: black;
  --bgColor: #feffff;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bgColor);
}

.aboutHero {
  height: 300px;
  width: 100%;
}

.aboutHero .heroImage {
  background: url("./../../../src/assets/about/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHero .heroImage .heroHeading {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.aboutMainContent {
  padding: 9vw 6rem;
  display: flex;
  width: 100vw;
  gap: 3rem;
  background: url("./../../assets/about/bg.png");
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

.aboutMainContent .imageDiv {
  width: 430px;
  display: flex;
  gap: 1rem;
}

.aboutMainContent .imageDiv .imageOne {
  width: 430px;
  height: 400px;
  border-radius: 10px;
}

.aboutMainContent .meetupInfo {
  width: 60%;
  min-width: 350px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutMainContent .meetupInfo .mainHeading {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 4rem;
}

.aboutMainContent .meetupInfo .paragraph {
  font-size: 1.3rem;
  padding-left: 10px;
}

.aboutMainContent .iconContainer {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.aboutMainContent .iconContainer .iconItem {
  border-radius: 8px;
}

.peopleLove {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  padding: 3vw 8vw;
  gap: 3vw;
  justify-content: center;
  align-content: center;
}

.peopleLove .peopleLoveHeading {
  color: var(--mainColor);
  font-size: 1.5rem;
  text-transform: capitalize;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  font-weight: 700;
  min-width: 350px;
}

.peopleLove .peopleLoveHeading .impactSecondRow {
  color: black;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
  width: 20vw;
  margin-bottom: 5px;
  background: linear-gradient(45deg, #e31c42, #fca53a);
  -webkit-background-clip: text;
  color: transparent;
}

.peopleLove .peopleLoveHeading .impactThirdRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.peopleLove .peopleLoveHeading .horRow {
  width: 50%;
  height: 5px;
  content: "";
  background: linear-gradient(to right, #e31c42, #fca53a);
}

.peopleLove .peopleLoveItem {
  display: flex;
  gap: 0.5rem;
  width: 25vw;
  padding: 1.8vw;
  height: 180px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border: 0.01px solid rgba(128, 128, 128, 0.472);
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.189);
  min-width: 350px;
  max-width: 450px;
}

.peopleLove .peopleLoveItem .peopleLoveSectionIcon {
  width: 80px;
  height: 50px;
  opacity: 1;
}

.peopleLove .peopleLoveItem .rightPeopleLoveItem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.3rem;
}

.peopleLove .peopleLoveItem .rightPeopleLoveItem .heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.peopleLove .peopleLoveItem .rightPeopleLoveItem .description {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
}

.peopleLove .peopleLoveItem:hover {
  box-shadow: none;
}

.peopleLoveItem:hover .peopleLoveSectionIcon {
  animation: rotateAndVanish 0.8s both;
}
.imageMainContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  flex-wrap: wrap;
}

.imageMainContainer .spanContainer {
  width: 20vw;
  position: relative;
  cursor: pointer;
  min-width: 270px;
  max-width: 400px;
}

.imageMainContainer .spanContainer .heading {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: center center;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imageMainContainer .spanContainer .heading h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #feffff;
  min-width: 100px;
  line-height: 1rem;
  text-align: center;
  transition: opacity 0.5s;
}

.imageMainContainer .spanContainer:hover .heading {
  opacity: 1;
  /* transform: scale(1); */
  animation: borderRadius 0.5s forwards;
  background-color: rgba(0, 0, 0, 0.712);
}

@keyframes rotateAndVanish {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  50% {
    opacity: 0;
    transform: rotate(180deg) scale(0);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes borderRadius {
  from {
    border-radius: 50%;
    transform: scale(0.2);
  }
  50% {
    border-radius: 50%;
  }
  to {
    border-radius: 0%;
    transform: scale(1);
  }
}

@media screen and (max-width: 1050px) {
  .imageMainContainer .spanContainer {
    width: 45%;
  }
}

@media screen and (max-width: 630px) {
  .imageMainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageMainContainer .spanContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .aboutMainContent {
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    padding-top: 3rem;
    background: none;
    gap: 2rem;
  }

  .aboutMainContent .meetupInfo {
    width: 90%;
  }

  .aboutMainContent .imageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aboutMainContent .imageDiv .imageOne {
    height: 350px;
  }

  .peopleLove {
    margin-top: 5rem;
    justify-content: center;
  }

  .peopleLove .peopleLoveItem,
  .peopleLove .peopleLoveHeading {
    width: 45%;
  }

  .peopleLove .peopleLoveHeading p {
    width: 100%;
  }

  .peopleLove .peopleLoveHeading .impactSecondRow {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .aboutHero {
    width: 100% !important;
    height: 150px;
  }
  .aboutMainContent {
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    padding-top: 3rem;
    background: none;
    gap: 2rem;
    .meetupInfo {
      width: 100%;
      padding: 1rem;
      background-color: #feffffd1;
      .mainHeading {
        font-size: 2rem;
      }
      p {
        background-color: #feffffd1;
      }
    }
    .imageDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      .imageOne {
        height: 300px;
      }
    }
  }
  .peopleLove {
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    .peopleLoveHeading {
      width: 100vw;
      max-width: 400px;

      p {
        width: 90vw;
      }
      .impactSecondRow {
        width: 100%;
      }
    }
    .peopleLoveItem {
      width: 100%;
      margin-bottom: 20px;
      .peopleLoveSectionIcon {
        padding: 0 10px;
        width: 100px;
      }
    }
  }
}
