.Header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    .mobileNavbar {
      display: none;
    }
  }
}

/* tablet */
@media all and (max-width: 991px) {
  .Header {
    .navbar {
      .desktopNavbar {
        display: none;
      }
      .mobileNavbar {
        display: block;
      }
    }
  }
}
