.Header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);

  .logoContainer {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    .mobileNavbar {
      display: none;
    }
  }
}

/* tablet */
@media all and (max-width: 991px) {
  .Header {
    .navbar {
      .desktopNavbar {
        display: none;
      }
      .mobileNavbar {
        display: block;
      }
    }
  }
}
