/** @format */

.Footer {
  margin-top: 15vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  position: relative;
  background-color: #212121;
  padding: 2vw;
  .footerOne {
    border: 0.2vw solid #212121;
    width: 80%;
    padding: 3vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -8vw;
    left: 10%;
    border-radius: 1vw;
    background-image: url("./../../assets/footer/texture1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 -0.1vw 0.8vw rgba(0, 0, 0, 0.5);
    p {
      font-size: 3vw;
      font-weight: 600;
    }
    button {
      font-size: 2vw;
    }
  }
  .footerTwo {
    margin-top: 10vw;
    /* border: 1px solid white; */
    color: #ccc;
    display: flex;
    justify-content: space-around;

    .footerLogoContainer {
      /* border: 1px solid white; */
      width: 20%;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .footerLogo {
        width: 10vw;
      }
    }
    .explore {
      /* border: 1px solid white; */
      display: flex;
      flex-direction: column;
      gap: 1vw;
      padding: 2vw;
    }
    .footerContact {
      /* border: 1px solid white; */
      padding: 2vw;
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .socialMedia {
        display: flex;
        gap: 1.5vw;
        svg {
          font-size: 2vw;
        }
      }
    }
  }
  .footerThree {
    color: #eee;
  }
}

@media screen and (max-width: 630px) {
  .footerOne {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    p {
      width: 100%;
      text-align: center;
    }
    button {
      width: 10rem !important;
      font-size: 1.2rem !important;
    }
  }
  .footerTwo {
    margin-top: 5rem !important;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .footerLogoContainer {
      width: 100% !important;
      .footerLogo {
        width: 8rem !important;
      }
    }
    .socialMedia {
      svg {
        font-size: 1.5rem !important;
      }
    }
  }
}
