.WhoWeAre {
  /* border: 1px solid black; */
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  .content {
    /* border: 1px solid black; */
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    h1 {
      /* border: 1px solid black; */
      font-size: 4vw;
    }
    p {
      font-size: 1.5vw;
      text-align: justify;
      color: #555;
    }
  }

  .imgContainer {
    /* border: 1px solid black; */
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .big {
      width: 60%;
      height: 18vw;
    }
    .small {
      width: 40%;
      height: 18vw;
    }
    img {
      border: 0.2vw solid #fff;
    }
  }
}
