.WhatWeDo {
  position: relative;
  width: 100%;
  height: 80vw;
  /* border: 1px solid red; */
  margin-top: 5vw;
  .bgImage {
    width: 100%;
    height: 100%;
    background-image: url("./../../../assets/home/whatWeDo/bg.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.07;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 3vw 4vw;

    .WhatWeDoContainer {
      /* border: 1px solid black; */
      display: flex;
      flex-direction: column;
      gap: 2vw;
      h2 {
        /* border: 1px solid black; */
        margin: 0 auto;
        text-align: center;
        margin: 2vw;
      }
      .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        .singleCard {
          border-radius: 1.5vw;
          /* border: 1px solid black; */
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          gap: 1vw;
          width: 25vw;
          .imgContainer {
            border-top-left-radius: 1.5vw;
            border-top-right-radius: 1.5vw;
            width: 100%;
            overflow: hidden;
            img {
              border-top-left-radius: 1.5vw;
              border-top-right-radius: 1.5vw;
              transition: all ease 0.2s;
              &:hover {
                scale: 1.1;
              }
            }
          }
          .content {
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            gap: 1vw;
            padding: 1vw;
            padding-bottom: 2vw;
            text-align: center;
            h3 {
              font-size: 2vw;
              font-weight: 500;
              text-align: center;
            }
            p {
              font-size: 1.2vw;
            }
          }
        }
      }
    }
  }
}
