@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* border: 1px solid red; */
  width: 100vw;
  color: #212121;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn1 {
  border-radius: 0.5vw;
  padding: 0.3vw 1vw;

  font-size: 1.5vw;
  font-weight: 500;
  transition: all ease 0.2s;
  border: 0.2vw solid #212121;
  color: #fff;
  background-color: #212121;
  &:hover {
    background-color: #eee;
    color: #212121;
  }
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 6vw;
  font-weight: 600;
}

h2 {
  font-size: 3.5vw;
  font-weight: 500;
}

h3 {
  font-size: 2vw;
  font-weight: 450;
}
/*  tablet responsive */
@media all and (max-width: 991px) {
  .btn1 {
    border-radius: 0.5vw;
    padding: 0.3vw 1vw;

    font-size: 1.5vw;
    font-weight: 500;
    transition: all ease 0.2s;
    border: 0.2vw solid #212121;
    color: #fff;
    background-color: #212121;
    &:hover {
      background-color: #eee;
      color: #212121;
    }
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }
}

/* mobile responsive */
@media all and (max-width: 480px) {
  .btn1 {
    border-radius: 0.5vw;
    padding: 0.3vw 1vw;

    font-size: 1.5vw;
    font-weight: 500;
    transition: all ease 0.2s;
    border: 0.2vw solid #212121;
    color: #fff;
    background-color: #212121;
    &:hover {
      background-color: #eee;
      color: #212121;
    }
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 7vw;
  }

  h3 {
    font-size: 4vw;
  }
}
